<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:te="http://www.seasar.org/teeda/extension" 
    xml:lang="ja" lang="ja">
<body>

<form id="form">
<span id="allMessages"></span>
Initialized Time:<span id="initializedTime"></span><br />
Prerendered Time:<span id="prerenderedTime"></span><br />
<input type="submit" id="doSubmit" value="submit"/>
</form>

<te:include id="includeHeader" te:src="/time/time3.html" />


</body>
</html>